#menuLabel {
	-fx-font-family: "Arial";
	-fx-font-size: 12pt;
	-fx-text-fill: #002200;
}

#menuLabelMouseOver {
	-fx-font-family: "Arial";
	-fx-font-size: 12pt;
	-fx-text-fill: #DDDDDD;
}

#menuLabelDisabled {
	-fx-font-family: "Arial";
	-fx-font-size: 12pt;
	-fx-text-fill: #225522;	
}



#root {
	-fx-background-color: #CCCCCA;
}

#menuPane {
	-fx-background-color: #49796B;
	-fx-background-radius: 5.0px 0.0px 0.0px 100.0px;
}